*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter';
  width: 100%;
}

button {
  font-family: 'Inter';
}

h2 {
  font-size: 3em;
}

input {
  font-family: 'Inter';
}

option {
  font-family: 'Inter';
}

select {
  font-family: 'Inter';
}
