.cardRecipe {
    background-color: rgb(228, 228, 121);
    box-sizing: border-box;
    min-width: 280px;
    max-width: 280px;
    min-height: 420px;
    max-height: 600px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
    font-size: 1em;
    font-style: italic;
}

.diets {
    font-size: 0.8em;
    font-weight: 400;
    background-color: rgb(243, 255, 243);
    border-radius: 10px;
    padding: 5px;
}

.imageRecipe {
    border-radius: 10px;
    max-width: 250px;
    height: auto;
}

.dietsSection {
    font-size: 0.8em;
}

.dietsToLeft {
    display: flex;
    width: 100%;
}

.typediets {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 4px;
}

.linkTag {
    text-decoration: none;
    color: black;
}